<h1>Category : <%= @trip.category.name %></h1>
<h2><%= @trip.title %></h2>
<h3><%= @trip.start %></h3>
<h4><%= @trip.language %></h4>
<p><%= @trip.description %></p>

<%= link_to "Home", root_path %>

<% if user_signed_in? %>

<% if @trip.user_id == current_user.id %>

<%= link_to "Edit", edit_trip_path(@trip) %>
<%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Are you sure you want to delete this trip ? It will be lost forever" } %>

<% end %>

<% end %>