<div class="white-bg pad-block min log-wrap">
    <div class="container">
        <div class="main-title">
            <h1><span>Resend confirmation instructions</span></h1>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <div class="frm-wrap">
              <%= f.error_notification %>
                <div class="gray-box">
                    <div class="frm-line">
                        <div class="frm-full">
                            <div class="form-group">
                                <%= f.input :email, required: false, autofocus: true  ,class:'form-control'%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="btn-wrap mar">
                  <%= f.button :submit, "Resend confirmation instructions" , { class: 'fill-btn' } %><br>
                  <%= render "devise/shared/links" %>
            </div>
            <% end %>
    </div>
  </div>
</div>
