<%= simple_form_for(@tour) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :start_time, as: :date, start_year: Date.today.year,
                  max_years_allowed: 5,
                  order: [:month, :year] %>

      <div form-group select mandatory category>
        <%= f.label 'Category' %>
        <%= f.select :category_id, @categories, { label: "Choose a category:" }, { class: "form-control select" } %>
      </div><br>

      <div form-group select mandatory category>
        <%= f.label 'Trip Image' %>
        <%= f.file_field :tour_img %>
      </div><br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, { class: 'btn btn-primary' } %>
    </div>
<% end %>
