
<%= simple_form_for(@tour) do |f| %>
  <div class="frm-wrap">
      <div class="gray-box">
        <%= f.error_notification %>
          <div class="frm-line">
              <div class="frm-full">
                  <div class="">
                    <%= f.input :name %>
                  </div>
              </div>
          </div>
          <div class="frm-line">
            <div class="frm-full">
              <div class="form-group">
                <%= f.label 'description' %>
                <%= f.text_area :description %>
                <p class="error"><%= @tour.errors.full_messages_for(:description)[0] if @tour.errors[:description].present? %></p>

              </div>
            </div>
          </div>
          <div class="frm-line">
              <div class="frm-half">
                  <div class="form-group">
                    <%= f.input :start_time, as: :date, start_year: Date.today.year,
                                max_years_allowed: 5,
                                order: [:month, :year] %>

                  </div>
              </div>
              <div class="frm-half">
                  <div class="form-group">
                    <%= f.label 'Category' %>
                    <%= f.select :category_id, @categories, { label: "Choose a category:" }, { class: "form-control select" } %>
                  </div>
              </div>
          </div>
          <div class="frm-line">
              <div class="frm-full">
                  <div class="form-group">
                    <%= f.label :language %>
                    <%= f.select :language_id, Language.all.map { |r| [r.name, r.id] }, {include_blank: false}, { class: 'form-control'} %>
              </div>
            </div>
          </div>
          <div class="frm-line">
              <div class="frm-full">
                  <div class="form-group">
                    <%= f.label 'Trip Image' %>
                    <%= f.file_field :tour_img %>
                    <p class="error"><%= @tour.errors.full_messages_for(:tour_img)[0] if @tour.errors[:tour_img].present? %></p>

                  </div>
              </div>
          </div>
      <div class="btn-wrap mar two"><%= f.button :submit, { class: 'fill-btn' } %></div>
  </div>
  <% end %>
