<div class="white-bg pad-block trip-wrap">
  <div class="container">
    <div class="main-title">
        <h1>Voyajers <span>Trip</span></h1>
        <p class="tag">Find trip and share idea</p>
    </div>

  <% if @tours.present? || @tourstrip.present? %>
  <div class="row">
    <% @tours.each do |tour| %>
        <% next unless tour.present? %>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="trip-block">
            <div class="trip-img">
                <%=  link_to(image_tag(tour.tour_img.url(:mini_img), class: "fix-img",alt:"" , id: "detail",style:"width: 100%;", remote: true) , tour_path(tour))  %>
            </div>
            <div class="trip-info">
              <h3 class="trip-name"><%= tour.name %></h3>
              <div class="tag-wrap"><h4>This trip starts in <%= tour.start_time.strftime('%B %Y') %></h4></div>

              <div class="trip-desc">
              <p class="desc"><%= truncate(tour.description, length: 100) { link_to 'more', tour_path(tour) } %></p>
                  <p><strong>Spoken Languages:</strong>
                  <%# tour.tour_languages.each do |lang| %>
                      <%#= Language.find(lang.language_id).name %>
                  <%# end %>

                  <%= tour.tour_languages.map{|p| Language.find(p.language_id).name}.join(",")%>
                  </p>
              </div>

              <div class="trip-locat">

                  <p><%= image_tag("pin.png" ,  alt:"") %><%=tour.category.name %></p>
                  <%= link_to 'See Détails', tour, { class: 'line-btn', role: 'button' } %>
                  <% if current_user == tour.owner %>
                  <%= link_to 'Edit', edit_tour_path(tour), class: 'line-btn'%>
                  <%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?'} , class: 'line-btn red', role: 'button'  %>
                  <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>

 <!-- for show subscribed trip  -->
    <% if @tourstrip.present? %>
    <% @tourstrip.each do |tour| %>
        <% next unless tour.present? %>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="trip-block">
            <div class="trip-img">
                <%=  link_to(image_tag(tour.tour_img.url(:mini_img), class: "fix-img",alt:"",id: "demo",style:"width: 100%;", remote: true) , tour_path(tour))  %>
            </div>
            <div class="trip-info">
              <h3 class="trip-name"><%= tour.name %></h3>
              <div class="tag-wrap"><h4>This trip starts in <%= tour.start_time.strftime('%B %Y') %></h4></div>

              <div class="trip-desc">
              <p class="desc"><%= truncate(tour.description, length: 100) { link_to 'more', tour_path(tour) } %></p>
                  <p><strong>Spoken Languages:</strong>y
                    <%# tour.tour_languages.each do |lang| %>
                        <%#= Language.find(lang.language_id).name %>
                    <%# end %>
                    <%= tour.tour_languages.map{|p| Language.find(p.language_id).name}.join(",")%>
                  </p>
              </div>

              <div class="trip-locat">

                  <p><%= image_tag("pin.png" ,  alt:"") %><%=tour.category.name %></p>
                  <%= link_to 'See Détails', tour, { class: 'line-btn', role: 'button' } %>
                  <% if current_user == tour.owner %>
                  <%= link_to 'Edit', edit_tour_path(tour), class: 'line-btn'%>
                  <%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?'} , class: 'line-btn red', role: 'button'  %>
                  <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <% else %>
  <div class="blank-msg">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <h1>There are no trips here yet, be the first one to create one!</h1>
  </div>
  <% end %>
  </div>
</div>


<%# if !params[:category].present? %>


<div class="pad-block gray-bg">
    <div class="container">
        <div class="main-title"><h1>START SHARE <span>IDEA AND TRIP</span></h1>
          <% if user_signed_in? %>
          <% else%>
          <%= link_to new_user_registration_path, class: 'line-btn' do %>
          JUST SIGN UP here
        <% end %>
        <% end %>

      </div>
    </div>
</div>

<%# end %>



<script>
// for superuser
    $(function () {

        $(".fix-img").click(function (e) {
        });
    });

$(window).scroll(function() {
	if ($(this).scrollTop() > 1){
		$('header').addClass("sticky");
		$('body').addClass("sticky-b");
	}
	else{
		$('header').removeClass("sticky");
		$('body').removeClass("sticky-b");
	}
});

$( window ).load(function(){
    $(".fix-img").each(function(){

        var img = $(this);
        var image_heightA = img.height();
        var image_widthA = img.width();
        var parent_image_widthA = img.parent().width();
        var parent_image_heightA = img.parent().height();
        //if(width <= height)

        if(image_heightA > parent_image_heightA && image_widthA > parent_image_widthA){

            img.css('width',parent_image_widthA + 'px');
            var tem_image_heightA = img.height();

            if(tem_image_heightA > parent_image_heightA){
                img.css('width','100%');
            }
            else{
                img.css('width','auto');
                img.css('height','100%');
            }
        }
        else{
            img.css('width',parent_image_widthA + 'px');
            var tem_image_heightA = img.height();

            if(tem_image_heightA > parent_image_heightA){
                img.css('width','100%');
            }
            else{
                img.css('width','auto');
                img.css('height','100%');
            }
        }
    });
});

</script>
