<% if @tours.blank? %>
    <h1>There are no trips here yet, be the first one to create one!</h1>
<% else %>
    <% @tours.in_groups_of(3, nil).each do |group|%>
        <div class="row">
          <% group.each do |tour| %>
              <% next unless tour.present? %>
              <div class="col-sm-4 custom-index-div">
                <%=  link_to(image_tag(tour.tour_img.url(:mini_img), class: "grande-img img-container") , tour_path(tour))  %>

                <div class="tour-name">
                  <h3><%= tour.name %></h3>
                  <%= tour.start_time.strftime('%B %Y') %>
                </div>

                <div class="tour-description">
                  <%= truncate(tour.description, length: 100) { link_to 'more', tour_path(tour) } %>
                </div>

                <h4>Spoken Languages</h4>
                <div class="spoken-languages">
                  <ul class="list-unstyled">
                    <% tour.collected_languages.each do |lang| %>
                        <li><%= lang %></li>
                    <% end %>
                  </ul>
                </div>

                <%= link_to 'Show', tour, { class: 'btn btn-sm btn-info', role: 'button' } %>

                <% if current_user == tour.owner %>
                    <%= link_to 'Edit', edit_tour_path(tour), class: 'btn btn-sm btn-info'%>
                    <%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-sm btn-info', role: 'button'  %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>