<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tour.owner.Last_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @tour.start_time %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tour.category.name %>
</p>

<%= render 'tours/ideas_board' %>

<% if @tour.owner == current_user %>
    <%= render 'tours/owner_ideas_board' %>
<%else%>
    <%= render 'tours/subs_buttons' %>
<% end %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
